* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

.emptyTodo {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.emptyTodo-p {
  margin: 24px 0 24px 24px;
  width: calc(100% - 120px);
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
