* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Quicksand", sans-serif;
  /*font-family: 'Roboto', sans-serif;*/
}
ul,
li {
  text-decoration: none;
  list-style: none;
}
a {
  text-decoration: none;
}

.TodoCounter {
  font-size: 24px;
  text-align: center;
  margin: 0;
  padding: 48px;
  font-weight: normal;
}

.TodoCounter span {
  font-weight: bold;
}
